<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


      <p>Julio Gilabert</p>
      <img  width="100px" src="/images/julio.jpg"/>
      <p>Disfruto con el software libre <br> y aprendiendo - LINUX </p>
      <br>
      <p>
          Sin la ayuda de los compañeros este curso no lo hubiera <br> podido acabar - Gracias a todos !!!

      </p>

  </body>



</html>
