<div><img src="/images/julio.jpg" alt="Picture of the author" height="60" width="50"></img></div>
<div><h4> Julio Gilabert</h4></div>
<div>
    Un programador de software libre de Almería.<BR>
</div>
