<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Autor</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="main">

                <img src="/images/julio.jpg" alt="Picture of the author" height="60" width="50"></img>
                <h4> Julio Gilabert</h4>

                    Un programador de software libre de Almería.<br>

        </div>
    </body>
</html>
